<div class="header">
	<% if (!locals?.removeTwcLogo) { %>
		<div class="logo"><img src="images/Logo3.png" /></div>
	<% } %>
	<% if (locals?.titleDual) { %>
		<div class="title dual" id="dualTitle">
			<div class="top" id="topTitle">
				<%-titleDual.top %>
			</div>
			<div class="bottom" id="bottomTitle">
				<%-titleDual.bottom %>
			</div>
		</div>
		<% } else { %>
			<div class="title single">
				<%-title %>
			</div>
			<% } %>
				<% if (locals?.hasTime) { %>
					<div class="date-time date"></div>
					<div class="date-time time"></div>
					<% } else if (!locals?.noaaLogo) { %>
						<div class="right"></div>
					<% } %>
						<% if (locals?.noaaLogo) { %>
							<div class="noaa-logo">
								<img src="images/noaa5.gif" />
							</div>
							<%}%>
</div>