<%- include('header.ejs', { title:'Marine Forecast', hasTime: true }) %>
<div class="main has-scroll marine-forecast">
    <div class="advisory-container">
        <!-- <div class="advisory template">
            <div class="message"></div>
        </div> -->
        <div class="message">SMALL CRAFT ADVISORY</div>
    </div>

    <div class="title-and-day-container">
        <div class="title-container">
            <div class="title">WINDS:</div>
            <div class="title seas">SEAS:</div>
        </div>
        
        <div class="day-container">
            <div class="day template">  
                <div class="date"></div>
                <div class="wind-direction"></div>
                <div class="wind-speed"></div>
    
                <div class="wave-container">
                    <div class="wave-height"></div>
                    <div class="wave-icon"></div>
                    <div class="wave-condition"></div>
                </div>
                <!-- <div class="icon">
                    <img src="" />
                </div> -->
                <!-- <div class="temperatures">
                    <div class="temperature-block lo">
                    <div class="label">Lo</div>
                    <div class="value value-lo"></div>
                    </div>
                    <div class="temperature-block hi">
                    <div class="label">Hi</div>
                    <div class="value value-hi"></div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<%- include('scroll.ejs') %>